{% extends "base_generic.html" %}
{% block title %}Feira{% endblock %}
{% block content %}
<div class="content-section">
    <div class="center text-center">
    	<h1>Adicionar produto:</h1>
    </div>
    <br>
    <div class="container">
    	<form id='form-adicionar_produto' class="form form-horizontal" method="post" role="form" enctype="multipart/form-data" action=" {% url 'adicionar_produto' barraca_id %} ">
            {% csrf_token %}
            <div class="row">
                	<div class="col-md-6">
                        <p style="margin-bottom: .5rem">Nome do Produto<span style="color:red">* </span></p>
                        {{ form.nome }}
                    </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p style="margin-bottom: .5rem">Descrição</p>
                    {{ form.descricao }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p style="margin-bottom: .5rem">Preço unitário (em R$)<span style="color:red">* </span></p>
                    {{ form.preco_unitario }}
                </div>
            </div>
            <br>
            <div class='row'>
                <div class="col-md-6">
                    <p style="margin-bottom: .5rem">Unidade<span style="color:red">* </span></p>
                        {{ form.unidade }}
                </div>
            </div>
            <hr>
            <div class="row" style="max-width: 135px; margin-bottom: 3%;">
                <div class="col-md-2">
                    <input type="submit" name="submit" value="Confirmar" class="btn btn-primary btn-lg"/>
                </div>
            </div>
        </form>
        <div class="row justify-content-end">
            <div class="form-group col-md-2">
              <a href="{%url 'visualizar_barraca' barraca_id %}"><button class="btn btn-secondary btn-block btn-lg"><i class="fa fa-undo-alt"> </i> Voltar</button></a>
            </div>
        </div>
     </div>
</div>

<script>
    $( function() {
      $( "#id_nome" ).autocomplete({
        source: "{% url 'adicionar_produto' barraca_id %}"
      });
    } );
    </script>
{% endblock %}