{% extends "base_generic.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% include "messages.html" %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        <br/>
<!-- Feiras -->
        <div class="row align-items-center">
            <div class="col-md-5">
                <h1> Feiras: </h1>
            </div>
        </div>
    
        <hr class="intro-divider">
        <br/>
        {% if request.user.is_superuser %}
          <div class="row">
            <div class="col-md-6">
              <a href="{% url 'criar_feira' %}" class="btn btn-primary btn-lg">
                <i class="fa fa-plus"></i> Nova Feira </button>
              </a>
            </div>
          </div>
        {% endif %}
          <br>
            {% if feiras %}
        <table class="table table-striped table-bordered" id="tabela_feiras">
            <thead>
                <tr>
                    <th width="30%"> Nome </th>
                    <th width="20%"> Local </th>
                    <th width="20%"> Data </th>
                    <th width="20%"> Ações </th>
                </tr>
            </thead>
            <tbody>
            {% for feira in feiras %}
            <tr>
                <td>
                    <a href="{% url 'lista_barracas' feira.feira_id %}" data-tt="tooltip" title="Ver barracas da Feira.">
                    {{ feira.nome_feira }}
                    </a>
                </td>
                <td>
                    {{ feira.endereco_logradouro }}
                    </a>
                </td>
                <td>
                    {{ feira.dia_semana }}
                    </a>
                </td>
                <td>
                  <div class="row justify-content-between">
                    <div class="col-6 text-center">
                      {% if request.user.is_superuser %}
                      <a href="{% url 'editar_feira' feira.feira_id %}" data-tt="tooltip" title="Editar propriedades da feira.">
                        <i class="far fa-edit fa-2x"></i>
                      </a>
                      {% endif %}
                    </div>
                    <div class="col-6 text-center">
                      {% if request.user.is_superuser %}
                      <a href="" data-href="{% url 'deletar_feira'  feira.feira_id %}" data-toggle="modal" data-target="#modal_deletar_feira" data-tt="tooltip" title="Realizar exclusão da feira.">
                        <i class="fa fa-trash fa-2x"></i>
                      </a>
                      {% endif %}
                    </div>
                  </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            {% else %}
        <div style="text-align: center">
            <div style="text-align: center">
                <h3> Ainda não há nenhuma Feira cadastrada. </h3>
            {% endif %}
            </div>
        </div> 
      </div>
      <br>
      <div id="modal_deletar_feira" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Tem certeza que deseja deletar esta feira?</h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Cancelar</button>
              <a type="button" class="btn btn-danger btn-lg btn-ok">Sim</a>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>
  </div>
</div>


<script>

$('#modal_deletar_feira').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});

$(document).ready(function() {
  $.fn.dataTable.moment('DD/MM/YYYY');
    $('#tabela_feiras').DataTable({

    // configurações das mensagens da tabela
    "language": { 
      "lengthMenu": "Mostrar _MENU_ feiras por página",
      "zeroRecords": "Nada com esse filtro - desculpe",
      "info": "Mostrando _PAGE_ de _PAGES_",
      "infoEmpty": "Não há feiras com esse filtro",
      "infoFiltered": "(filtrado de um total de _MAX_ feiras)",
      "paginate": {
        "first": "Primeiro",
        "last": "Último",
        "next": "Próximo",
        "previous": "Anterior",
      },
      "loadingRecords": "Carregando...",
      "search": "Filtrar:",
      "aria": {
        "sortAscending": ": Ative para ordenar a coluna de forma ascendente",
        "sortDescending": ": Ative para odenar a coluna de forma descendente"
      }
    },

    // ordenação padrão: role
    "order": [[ 1, "asc" ]],

    "responsive": true
  });
});

$('[data-tt="tooltip"]').tooltip();

</script>
{% endblock %}