{% extends "base_generic.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% include "messages.html" %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        <br/>
<!-- Feiras -->
        <div class="row align-items-center">
            <div class="col-md-5">
                <h1> Feiras: </h1>
            </div>
        </div>
    
        <hr class="intro-divider">
        <br/>
        <div class="row">
            <div class="col-md-6">
              <a href="{% url 'criar_feira' %}" class="btn btn-primary btn-lg">
                <i class="fa fa-plus"></i> Nova Feira </button>
              </a>
            </div>
          </div>
            {% if feiras %}
        <table class="table table-striped table-bordered" id="tabela_feiras">
            <thead>
                <tr>
                    <th width="50%"> Nome </th>
                    <th width="25%"> Local </th>
                    <th width="25%"> Data </th>
                </tr>
            </thead>
            <tbody>
            {% for feira in feiras %}
            <tr>
                <td>
                    <a href="#" data-tt="tooltip" title="Ver barracas da Feira.">
                    {{ feira.nome_feira }}
                    </a>
                </td>
                <td>
                    {{ feira.endereco_logradouro }}
                    </a>
                </td>
                <td>
                    {{ feira.dia_semana }}
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            {% else %}
        <div style="text-align: center">
            <div style="text-align: center">
                <h3> Ainda não há nenhuma Feira cadastrada. </h3>
            {% endif %}
            </div>
        </div> 
      </div>
      <br>
    </div>
  </div>
</div>


<script>

$(document).ready(function() {
  $.fn.dataTable.moment('DD/MM/YYYY');
    $('#tabela_feiras').DataTable({

    // configurações das mensagens da tabela
    "language": { 
      "lengthMenu": "Mostrar _MENU_ feiras por página",
      "zeroRecords": "Nada com esse filtro - desculpe",
      "info": "Mostrando _PAGE_ de _PAGES_",
      "infoEmpty": "Não há feiras com esse filtro",
      "infoFiltered": "(filtrado de um total de _MAX_ feiras)",
      "paginate": {
        "first": "Primeiro",
        "last": "Último",
        "next": "Próximo",
        "previous": "Anterior",
      },
      "loadingRecords": "Carregando...",
      "search": "Filtrar:",
      "aria": {
        "sortAscending": ": Ative para ordenar a coluna de forma ascendente",
        "sortDescending": ": Ative para odenar a coluna de forma descendente"
      }
    },

    // ordenação padrão: role
    "order": [[ 1, "asc" ]],

    "responsive": true
  });
});

$('[data-tt="tooltip"]').tooltip();

</script>
{% endblock %}