{% extends "base_generic.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% include "messages.html" %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        <br/>
<!-- Barracas -->
        <div class="row align-items-center">
            <div class="col-md-12">
                <h1> Barracas de {{ responsavel_barracas.first_name }} {{ responsavel_barracas.last_name }}: </h1>
            </div>
        </div>
    
        <hr class="intro-divider">
        <br/>
          <br>
            {% if barracas %}
        <table class="table table-striped table-bordered" id="tabela_barracas">
            <thead>
                <tr>
                  <th width="33%"> Nome </th>
                  <th width="33%"> Feira </th>
                  <th width="33%"> Local </th>
                </tr>
            </thead>
            <tbody>
            {% for barraca in barracas %}
            <tr>
                <td>
                    <a href="{% url 'visualizar_barraca' barraca.barraca_id %}" data-tt="tooltip" title="Ver mais informações da barraca.">
                    {{ barraca.nome_barraca }} 
                    </a>
                </td>
                <td>
                    {{ barraca.feira.nome_feira }}
                </td>
                <td>
                    {{ barraca.feira.endereco_logradouro }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            {% else %}
        <div style="text-align: center">
            <div style="text-align: center">
                <h3> Você não possui nenhuma barraca cadastrada. </h3>
            {% endif %}
            </div>
        </div> 
      </div>
      <br>
    </div>
  </div>
</div>


<script>

$(document).ready(function() {
  $.fn.dataTable.moment('DD/MM/YYYY');
    $('#tabela_barracas').DataTable({

    // configurações das mensagens da tabela
    "language": { 
      "lengthMenu": "Mostrar _MENU_ barracas por página",
      "zeroRecords": "Nada com esse filtro - desculpe",
      "info": "Mostrando _PAGE_ de _PAGES_",
      "infoEmpty": "Não há barracas com esse filtro",
      "infoFiltered": "(filtrado de um total de _MAX_ barracas)",
      "paginate": {
        "first": "Primeiro",
        "last": "Último",
        "next": "Próximo",
        "previous": "Anterior",
      },
      "loadingRecords": "Carregando...",
      "search": "Filtrar:",
      "aria": {
        "sortAscending": ": Ative para ordenar a coluna de forma ascendente",
        "sortDescending": ": Ative para odenar a coluna de forma descendente"
      }
    },

    // ordenação padrão: role
    "order": [[ 1, "asc" ]],

    "responsive": true
  });
});

$('[data-tt="tooltip"]').tooltip();

</script>
{% endblock %}