{% extends "base_generic.html" %}

{% block content %}
  <h1>Página Inicial Feirinha</h1>
  <p>Bem vindo à Feirinha Gostosa hmmmmm</p>
  <h2>Conteúdo</h2>
  <p>Motivos pra usar nossa feirinha:</p>
  <ul>
    <li>Afinal de contas, por que não???</li>
    <li><strong>Hmmmm Django hmmmmmmm</strong></li>
    <li>Feira :P</li>        
    <a href="{% url 'cadastro_usuario' %}" class="btn btn-primary btn-lg">
      Cadastrar </button>
    </a>
    {% if not user.is_authenticated %}
      <a href="{% url 'login' %}" class="btn btn-primary btn-lg">
        Login </button>
      </a>
    {% else %}
      <a href="{% url 'logout' %}" class="btn btn-primary btn-lg">
        Logout </button>
      </a>
    {% endif %}
    <a href="{% url 'trocar_senha' %}" class="btn btn-primary btn-lg">
      Trocar Senha </button>
    </a>
  </ul>
{% endblock %}