{% extends "base_generic.html" %}

{% block content %}

<div class="row justify-content-center">
	<div class="form-group col-md-6">
    <div class="jumbotron">
      <legend class="text-center">
        <h3 class="display-4">Recuperar Senha</h3>
      </legend>

      <p class="lead text-center">
        Pronto! Caso este endereço esteja associado a alguma conta no nosso sistema, você receberá um e-mail com instruções para redefinir sua senha.
      </p>

      <div class="text-center">
        <a href="{% url 'home' %}" >Voltar à página inicial</a>
      </div>
    </div>
	</div>
</div>
{% endblock %}
