{% extends "base_generic.html" %}
{% block title %}Sobre o Site{% endblock %}
{% block body %}
<div class="content-section">
    <br><br>
    <h1 style="text-align: center;">Sobre Nós - BioBD SOLID</h1>
    <br><br><br><br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="about-info-title">Sobre o Feira</h2>
            <br>
            <p>
                texto
            <br>
            <br>
                texto
            </p>
            <br>
            <h2 class="about-info-title">Quem somos?</h2>
            <br>
            <p> 
                texto
            </p>
            <br>
            <h2 class="about-info-title">Como posso criar uma barraca?</h2>
            <br>
            <p>
                texto
            </p>
            <br><br>
        </div>
    </div>
</div>
{% endblock %}