.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.resumo-feiras {
    overflow: hidden;
  }
  
.resumo-feiras:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    border-top: 3px solid black;
  }