.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#sidebar {
  width: 180px;
  position: fixed;
  top: 56px;
  left: 0;
  height: 100vh;
  z-index: 999;
  transition: all 0.3s;
}

.sb-full-height {
  min-height: 100vh;
}

#sidebar.active {
  margin-left: -265px;
}
.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.login {
  margin-left: 85%;
}

.resumo-feiras {
    overflow: hidden;
  }
  
.resumo-feiras:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    border-top: 3px solid black;
  }